- if current_user && current_user.admin
  %a{:href => "products/new"} New Product
  %br
  - @product.each do |p|
    %span= p.name
    %a{:href => "products/#{p.id}/edit"} Edit
    %br
- else
  You need admin powers to view this page
