- if @user.products.nil?
  .alert.alert-danger
    %p= flash[:danger]
- else
  - @user.each do |b|
    .col-md-4
      #item
        #li
          %strong Item:
          #span= @Products.find(b.orders[0].product_id)
        #li
          %strong Price:
          #span= b.orders[0].order_price
        #li
          %strong Order Date:
          #span= b.orders[0].created_at
