/ - if @user.products.nil?
/   .alert.alert-danger
/     %p= flash[:danger]

- @orders.each do |order|
  .col-md-4
    #item
      #li
        %strong Item:
        #span= Product.find(order.product_id).name
      #li
        %strong Price:
        #span= number_to_currency(order.order_price)
      #li
        %strong Order Date:
        #span= order.created_at